@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@500&display=swap');
@import "tailwindcss";
@import "react-phone-number-input/style.css";
:root {
  background-color: #fff;
  color:#091540;
  font-family: 'Montserrat', sans-serif;
    --chart-1: 211 98% 54%;  /* Azul brillante (#1789FC) */
  --chart-2: 149 60% 63%;  /* Verde menta (#68D89B) */
  --chart-3: 352 92% 53%;  /* Rojo (#F6132D) */
  --chart-4: 264 100% 98%; /* Lila claro (#F9F5FF) */
  --chart-5: 229 80% 14%;  /* Azul oscuro (#091540) */
}

.input-base {
    @apply w-full px-4 py-2 text-[#091540] border border-[#091540] text-sm;
    font-family: 'Montserrat', sans-serif;
}

.font {
  font-family: Oswald, sans-serif;
  /* font-style: bold; */
}
/* .button-base-sidebar {
  @apply group relative z-10 flex w-full items-center gap-3 px-4 py-2 transition-all hover:bg-[#091540] hover:text-white hover:translate-x-1 hover:shadow-md hover:shadow-[#091540]/40
            
} */

/* Fuerza buenos colores al imprimir */
@media print {
  :root { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}
/* M치rgenes y tama침o de p치gina, opcional */
@page { size: A4; margin: 16mm; }

/* Oculta el bot칩n en PDF (ya usamos .print:hidden en Tailwind,
   esto es por si acaso no tienes esa variante activa) */
@media print {
  .print\\:hidden { display: none !important; }
}
