:root {
  background-color: #fff;
}

@import "tailwindcss";

.input-base {
    @apply w-full px-4 py-2 text-[#091540] border border-[#091540] text-sm;
}

/* .button-base-sidebar {
  @apply group relative z-10 flex w-full items-center gap-3 px-4 py-2 transition-all hover:bg-[#091540] hover:text-white hover:translate-x-1 hover:shadow-md hover:shadow-[#091540]/40
            
} */